

#RPGGAME{

	position: absolute;
	top:0px;
	left:0px;
	z-index: 1;
}

#interface{
	position: absolute;
	top:0px;
	left:0px;
	z-index: 2;
	
	min-width: 800px;
	min-height:600px;
	display: none;
}

.balao{
	z-index: 10;

	position: absolute;
	bottom: 0px;
	left:50px;

	text-align: center;
	vertical-align: middle;
	line-height: 100px;

	filter: alpha(opacity=65);

	min-width: 700px;
	min-height:100px;
	
	background-image: url("data/ui/balao2.png");
}